body {
    background-color: rgb(52, 52, 52);
}

h1 {
    color: rgb(0, 143, 21);
}

h2 {
    color: rgb(33, 205, 47);
}

h3 {
    color: rgb(75, 219, 89);
}
p {
    color: rgb(124, 241, 130);
}

.projects {
    display: flex;
    width: 50vw;
}

.project {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.work{
    display: flex;
    width: 50vw;
}

.job{
    padding: 20px;
    border: 1px solid #ccc;
}