body {
    background-color: rgb(52, 52, 52);
}

h1 {
    color: rgb(0, 143, 21);
}

h2 {
    color: rgb(33, 205, 47);
}

h3 {
    color: rgb(75, 219, 89);
}
p {
    color: rgb(124, 241, 130);
}
div.summary {
    max-width: 50vw;
}

div.project {
   overflow: auto;
   white-space: nowrap;
}

div.project a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

div.project a:hover {
    background-color: #777;
}

.work {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}

.job {
    padding: 20px;
    border: 1px solid #ccc;
    width: 100vw;
}
<<<<<<< HEAD:PersonalWebsite.css

.home {
    text-decoration: none;
}
=======
>>>>>>> 380924aaffaacc6a8a54c0ef91a6000504e37c45:personalWebsite.css
