html {
    font-size: clamp(1rem, 1vw, 2rem);
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(52, 52, 52);
}

h1 {
    color: rgb(0, 143, 21);
}

h2 {
    color: rgb(33, 205, 47);
}

h3 {
    color: rgb(75, 219, 89);
}
p {
    color: rgb(124, 241, 130);
}
div.summary {
    max-width: 50vw;
}

div.project {
    display: flex;
    flex-wrap: nowrap;  /* Prevent the links from wrapping to the next line */
    justify-content: flex-start; /* Align the items to the start */
    gap: 15px; /* Space between the links */
    max-width: 100vw; /* Set a maximum width for the container */
    align-items: stretch;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 10px;
}

div.project a {
    white-space: initial;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    min-width: 30vw;
    padding-right: 20px;
    margin-left: 20px;
    border-right: 2px solid rgba(124, 241, 130, 0.5);
    font-size: clamp(1rem,1vw,2rem);
}

div.project a:last-child {
    border-right: none;
}

div.project a:hover {
    background-color: #777;
}

.work {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}

.job {
    padding: 20px;
    border: 1px solid #ccc;
    width: 100vw;
}

.home {
    text-decoration: none;
}

.mobileImages {
    display:flex;
    flex-wrap: nowrap;
    object-fit: cover;
}
.mobileImages img {
    padding: 10px;
    min-height: 30vh;
    max-height: 70vh;
}
@media (hover: none) {

    h1 {
        color: red;
    }

    div.summary {
        max-width:100vw;
    }

    div.project a {
        font-size: clamp(1.2rem, 4vw, 2.5rem); /* Font size scales for mobile */
        min-width: 80vw;
        height: auto;
        margin-right: 5px; /* Smaller horizontal margin for mobile */
        margin-bottom: 15px; /* Smaller vertical margin for mobile */
        border-right: 1px solid rgba(124, 241, 130, 0.5); /* Slightly thinner border for mobile */
    }

    div.project a:last-child {
        border-right: none; /* Remove the border from the last link on mobile too */
    }

    div.work {
        width: 100vw;
    }
}